body{
  background-color: rgb(247, 245, 245);
}
button {
  margin: 30px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: rgb(46, 222, 108);
  transition: 0.2s;
 
}
button:hover {
  background-color: rgb(87, 196, 226);
  opacity: 0.8;
   transform: translateX(1px);
   transform: translateY(1px);

}
.title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 100px;
  width: 100%;
}
.countx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.countx h2 {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(220, 153, 175);
  font-size: 40px;
}